 body {
	background-color: #6FBE44 ;
}

div {
	background-color: #404040;
	border-radius: 20px;
	color: white;
}
div.bx {
	box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}
.log {
	transition: transform 1s;
}
.log:hover {
	transform: rotate(360deg);
}